<body>
  <!-- <button id="settings-btn" class="settings-btn">
    <i class="fas fa-cog"></i>
  </button>

  <div id="settings" class="settings">
    <form id="settings-form">
      <div>
        <label for="difficulty">Difficulty</label>
        <select id="difficulty">
          <option value="easy">Easy</option>
          <option value="medium">Medium</option>
          <option value="hard">Hard</option>
        </select>
      </div>
    </form>
  </div> -->

  <div class="container">
    <h2>👩‍💻 Type Fastly 👨‍💻</h2>

    <div *ngIf="IsNotTimeOut; then thenBlock else elseBlock"></div>
    <ng-template #thenBlock>
      <small>Type the following:</small>

      <h1 id="word">{{currentWord}}</h1>

      <input type="text" (input)="onValidateWord()" id="text" [(ngModel)]="userword" autocomplete="off"
        placeholder="Type the word here..." />
      <p>Your Highest Score : {{getHighestScore()}}</p>
      <p class="time-container">Time left: <span id="time">{{timeLeft}}</span></p>

      <p class="score-container">Score: <span id="score">{{score}}</span></p>

      <!-- <div id="end-game-container" class="end-game-container"></div> -->

    </ng-template>
    <ng-template #elseBlock>
      <h1>Time ran out</h1>
      <p>Your final score is {{score}}</p>
      <p>Your Highest Score : {{getHighestScore()}}</p>
      <button onclick="location.reload()">Reload</button>
    </ng-template>
  </div>
</body>
